{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="jumbotron md index-header jumbotron_set jumbotron-cover">
        <div class="container wrap-jumbotron position-relative">
            <h1 class="title-site">Login</h1>
            <p class="subtitle-site"><strong>Fundme | Crowdfunding Platform</strong></p>
        </div>
    </div>

    <div class="container margin-bottom-40">

        <div class="row">
            <div class="col-md-12">

                <h2 class="text-center position-relative">Login</h2>

                <div class="login-form">

                    <form method="post" name="form" id="signup_form">

                        {% csrf_token %}

                        <div class="form-group has-feedback">
                            <input type="text" class="form-control login-field custom-rounded"
                                   name="email" placeholder="Email"
                                   title="Email" autocomplete="off">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input type="password" class="form-control login-field custom-rounded" name="password"
                                   placeholder="Password" title="Password"
                                   autocomplete="off">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <button type="submit" id="buttonSubmit" class="btn btn-block btn-lg btn-main custom-rounded">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}