{% load static %}

<footer class="footer-main">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'core:home' %}">
                    <img src="{% static 'img/logo.png' %}" style="height: 80px; width: 80px"/>
                </a>
                <p class="margin-tp-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut tortor
                    rutrum massa efficitur tincidunt vel nec lacus. Curabitur porta aliquet diam, eu gravida neque
                    lacinia in. Praesent eget orci id sem commodo aliquet. ipsum dolor sit amet, consectetur adipiscing
                    elit. Integer ut tortor rutrum massa efficitur tincidunt vel nec lacus. Curabitur porta aliquet
                    diam, eu gravida neque lacinia in. Praesent eget orci id sem commodo aliquet.</p>

                <ul class="list-inline">

                    <li><a href="https://www.twitter.com/" class="ico-social"><i class="fa fa-twitter"></i></a></li>

                    <li><a href="https://www.facebook.com/fundme" class="ico-social"><i class="fa fa-facebook"></i></a>
                    </li>

                    <li><a href="https://www.instagram.com/" class="ico-social"><i class="fa fa-instagram"></i></a></li>

                    <li><a href="https://plus.google.com/" class="ico-social"><i class="fa fa-google-plus"></i></a></li>
                </ul>

            </div><!-- ./End col-md-* -->


            <div class="col-md-3 margin-tp-xs">
                <h4 class="margin-top-zero">About</h4>
                <ul class="list-unstyled">
                    <li><a class="link-footer" href="#">Terms</a></li>
                    <li><a class="link-footer" href="#">Privacy</a></li>
                    <li><a class="link-footer" href="#">About us</a></li>
                    <li><a class="link-footer" href="#">Support</a></li>
                    <li><a class="link-footer" href="#">How it works</a></li>
                </ul>
            </div><!-- ./End col-md-* -->


            <div class="col-md-3 margin-tp-xs">
                <h4 class="margin-top-zero">Categories</h4>
                <ul class="list-unstyled">
                    {% for category in categories %}
                        <li><a class="link-footer" href="{% url 'core:campaigns-by-category' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li><a class="link-footer" href="{% url 'core:categories' %}">
                        <strong>View all <i class="fa fa-long-arrow-right"></i></strong>
                    </a></li>

                </ul>
            </div><!-- ./End col-md-* -->

            <div class="col-md-2 margin-tp-xs">
                <h4 class="margin-top-zero">Links</h4>
                <ul class="list-unstyled">

                    <li>
                        <a class="link-footer" href="#">Campaigns</a>
                    </li>

                    <li>
                        <a class="link-footer" href="{% url 'accounts:login' %}">Login</a>
                    </li>

                </ul>
            </div><!-- ./End col-md-* -->
        </div><!-- ./End Row -->
    </div><!-- ./End Container -->
</footer><!-- ***** Footer ***** -->

<footer class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center padding-top-20">
                <p>&copy; Fundly | Crowdfunding Platform - 2019</p>
            </div><!-- ./End col-md-* -->
        </div>
    </div>
</footer>