{% load static %}

<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.autosize.min.js' %}"></script>
{#<script src="{% static 'js/jqueryTimeago.js' %}"></script>#}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script src="{% static 'js/count.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>

{#<script src="{% static 'js/cookies.js' %}"></script>#}