<ul class="nav nav-pills nav-stacked">

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'dashboard:home' %}" class="list-group-item {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
            <i class="icon icon-dashboard myicon-right"></i> Dashboard
        </a> <!-- **** ./ list-group-item **** -->
    </li>

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'dashboard:campaigns' %}" class="list-group-item {% if request.resolver_match.url_name == 'campaigns' %} active {% endif %}">
            <i class="icon icon-pencil myicon-right"></i> Campaigns
        </a> <!-- **** ./ list-group-item **** -->
    </li>

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'dashboard:donations' %}" class="list-group-item {% if request.resolver_match.url_name == 'donations' %} active {% endif %}">
            <i class="fa fa-heart myicon-right"></i> Donations
        </a> <!-- **** ./ list-group-item **** -->
    </li>

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'accounts:account' %}" class="list-group-item {% if request.resolver_match.url_name == 'account' %} active {% endif %}">
            <i class="icon icon-pencil myicon-right"></i> Account Settings
        </a> <!-- **** ./ list-group-item **** -->
    </li>

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'accounts:change-password' %}" 
           class="list-group-item {% if request.resolver_match.url_name == 'change-password' %} active {% endif %}">
            <i class="icon icon-lock myicon-right"></i> Change Password
        </a> <!-- **** ./ list-group-item **** -->
    </li>
</ul>
