<ul class="nav nav-pills nav-stacked">

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'dashboard:user-campaign-dashboard' %}" class="list-group-item">
            <i class="icon icon-dashboard myicon-right"></i> Dashboard
        </a> <!-- **** ./ list-group-item **** -->
    </li>

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'accounts:account' %}" class="list-group-item {% if request.resolver_match.url_name == 'account' %} active {% endif %}">
            <i class="icon icon-pencil myicon-right"></i> Account Settings
        </a> <!-- **** ./ list-group-item **** -->
    </li>

    <li class="margin-bottom-5">
        <!-- **** list-group-item **** -->
        <a href="{% url 'accounts:change-password' %}" 
           class="list-group-item {% if request.resolver_match.url_name == 'change-password' %} active {% endif %}">
            <i class="icon icon-lock myicon-right"></i> Change Password
        </a> <!-- **** ./ list-group-item **** -->
    </li>
</ul>
