{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron md index-header jumbotron_set jumbotron-cover">
        <div class="container wrap-jumbotron position-relative">
            <h2 class="title-site">Categories</h2>
            <p class="subtitle-site"><strong>Browse by Category</strong></p>
        </div>
    </div>

    <div class="container margin-bottom-40">

        {% for category in categories %}

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 row-margin-20 text-center">
                <a href="{% url 'core:campaigns-by-category' category.id %}">
                    <img class="img-responsive center-block custom-rounded" src="{{ category.category_image }}" alt="{{ category.name }}" style="height: 50px; width: 50px;">
                </a>

                <h1 class="title-services">
                    <a href="#">
                        {{ category.name }} ({{ category.campaign_set.count }})
                    </a>
                </h1>
            </div><!-- col-md-3 row-margin-20 -->

        {% endfor %}

    </div><!-- container wrap-ui -->

{% endblock %}