{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="jumbotron index-header jumbotron_set jumbotron-cover session-active-cover">
        <div class="container wrap-jumbotron position-relative">
            <h1 class="title-site txt-left" id="titleSite">Little help, for big cause!</h1>
            <p class="subtitle-site txt-left"><strong>Crowd funding Platform</strong></p>
        </div><!-- container wrap-jumbotron -->
    </div><!-- jumbotron -->

    <div class="container margin-bottom-40">

        <div class="col-md-12 btn-block margin-bottom-40 head-home">
            <h1 class="btn-block text-center class-montserrat margin-bottom-zero none-overflow">Categories</h1>
            <h5 class="btn-block text-center class-montserrat subtitle-color">
                <a href="{% url 'core:categories' %}">
                    <strong>View all <i class="fa fa-long-arrow-right"></i></strong>
                </a>
            </h5>
        </div>

        {% for category in categories %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 row-margin-20 text-center">
                <a href="{% url 'core:campaigns-by-category' category.id %}">
                    <img class="img-responsive custom-rounded center-block" 
                         src="{{ category.category_image }}" 
                         alt="{{ category.name }}" 
                         style="height: 50px; width: 50px;">
                </a>

                <h1 class="title-services">
                    <a href="{% url 'core:campaigns-by-category' category.id %}">
                        {{ category.name }} ({{ category.campaign_set.count }})
                    </a>
                </h1>
            </div>
        {% endfor %}

    </div>

    {% if campaigns.count > 0 %}

        <div class="container margin-bottom-40">
            <div class="col-md-12 btn-block margin-bottom-40">
                <h1 class="btn-block text-center class-montserrat margin-bottom-zero none-overflow">Campaigns</h1>
                <h5 class="btn-block text-center class-montserrat subtitle-color">Recent Campaigns</h5>
            </div>

            <div class="margin-bottom-30">
                {% for campaign in campaigns %}
                    {% include "includes/campaign.html" with campaign=campaign %}
                {% endfor %}
            </div>

            <div class="row margin-bottom-40">

                <div class="container">
                    <div class="col-md-4 border-stats">
                        <h1 class="btn-block text-center class-montserrat margin-bottom-zero none-overflow"><span
                                class=".numbers-with-commas counter">{{ members }}</span>
                        </h1>
                        <h5 class="btn-block text-center class-montserrat subtitle-color text-uppercase">Members</h5>
                    </div><!-- col-md-3 -->

                    <div class="col-md-4 border-stats">
                        <h1 class="btn-block text-center class-montserrat margin-bottom-zero none-overflow">
                            <span class=".numbers-with-commas counter">{{ total_campaigns }}</span>
                        </h1>
                        <h5 class="btn-block text-center class-montserrat subtitle-color text-uppercase">CAMPAIGNS</h5>
                    </div><!-- col-md-3 -->

                    <div class="col-md-4 border-stats">
                        <h1 class="btn-block text-center class-montserrat margin-bottom-zero none-overflow">
                            ${{ fund_raised.donation__sum }}</h1>
                        <h5 class="btn-block text-center class-montserrat subtitle-color text-uppercase">
                            FUNDS RAISED</h5>
                    </div><!-- col-md-3 -->

                </div><!-- row -->
            </div>

        </div><!-- container wrap-ui -->

    {% else %}
        <div class="container margin-bottom-40">
            <div class="margin-bottom-30">
                <div class="btn-block text-center margin-top-40">
                    <i class="ion ion-speakerphone ico-no-result"></i>
                </div>

                <h3 class="margin-top-none text-center no-result no-result-mg">
                    Has not been created any campaign
                </h3>
            </div>
        </div>
    {% endif %}


    <div class="jumbotron jumbotron-bottom margin-bottom-zero jumbotron-cover">
        <div class="container wrap-jumbotron position-relative">
            <h1 class="title-site">A little help can make the difference!</h1>
            <p class="subtitle-site txt-center"><strong>Crowdfunding Platform</strong></p>

        </div><!-- container wrap-jumbotron -->
    </div><!-- jumbotron -->
{% endblock %}

{% block javascript %}
    <script src="{% static 'plugins/jquery.counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.counterup/jquery.counterup.min.js' %}"></script>

    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10, // the delay time in ms
                time: 1000 // the speed time in ms
            });
        });

    </script>

{% endblock %}
