{% extends 'base.html' %}
{% load humanize %}
{% load campaign_tags %}

{% block content %}
    <div class="jumbotron md index-header jumbotron_set jumbotron-cover">
        <div class="container wrap-jumbotron position-relative">
            <h2 class="title-site">My Dashboard</h2>
            <p class="subtitle-site">
                <strong>{{ total_campaigns }} campaign{{ total_campaigns|pluralize }}</strong>
            </p>
        </div>
    </div>

    <div class="container margin-bottom-40">
        <!-- Stats Cards -->
        <div class="row margin-bottom-30">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Total Raised</h3>
                    </div>
                    <div class="panel-body">
                        <h3>${{ total_raised|intcomma }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Active Campaigns</h3>
                    </div>
                    <div class="panel-body">
                        <h3>{{ active_campaigns }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Total Donations</h3>
                    </div>
                    <div class="panel-body">
                        <h3>{{ total_donations }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                {% include 'includes/navbar-edit.html' %}
            </div>
        </div>
    </div>
{% endblock %}